[api]
base_url = http://localhost:11434/v1/
api_key = sk-talkai-bd76c0f60c6f4e50bcfa39fc1dce0efd

[translation]
model = qwen2.5:7b
target_lang = Chinese

[display]
display_duration = 10
window_width = 800
window_height = 120

[transcription]
whisper_model = base
device = auto
compute_type = float16
source_language = auto
transcription_workers = 4

[audio]
device_index = auto
sample_rate = 16000
silence_threshold = 0.005
silence_duration = 0.5
chunk_duration = 0.1
max_phrase_duration = 5
streaming_mode = true
streaming_interval = 3
streaming_step_size = 0.19999999999999998
update_interval = 0.8
streaming_overlap = 0.3

